<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
  	<servlet>
        <servlet-name>blogApp</servlet-name>
        <servlet-class>blogapp.blogAppServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>blogApp</servlet-name>
        <url-pattern>/blogApp</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>subscribe</servlet-name>
        <servlet-class>blogapp.SubscriptionServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>subscribe</servlet-name>
        <url-pattern>/subscribe</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>email</servlet-name>
        <servlet-class>blogapp.EmailServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>email</servlet-name>
        <url-pattern>/email</url-pattern>
    </servlet-mapping>
  
 	 <filter>
        <filter-name>ObjectifyFilter</filter-name>
        <filter-class>com.googlecode.objectify.ObjectifyFilter</filter-class>
  	</filter>
  	
	<filter-mapping>
        <filter-name>ObjectifyFilter</filter-name>
        <url-pattern>/*</url-pattern>
	</filter-mapping>
	  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>BlogApp.jsp</welcome-file>
  </welcome-file-list>

</web-app>
